<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<header class="header-partial-wrapper">
    <div style="display: flex; align-items: center; width:100%; justify-content: space-between;">
      <a href="https://www.rayterton.com" style="text-decoration: none; color: inherit; display: flex;align-items: center;justify-content: flex-start;">		<img src="/rayterton-apps-software-logo.png" alt="Rayterton Apps Logo" class="logo-rayterton">
      </a>

      <a href="/" style="text-decoration: none; color: inherit; display: flex;align-items: center;justify-content: flex-end;">
        <img src="/rayterton-academy-logo.png" alt="Rayterton Academy Logo" class="logo-academy">
      </a>

    </div>
</header>